<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Interests</th>
          <th scope="col">Linkedin profile URL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates">
          <td>{{ candidate.id }}</td>
          <td>{{ candidate.name }}</td>
          <td>{{ candidate.interests }}</td>
          <td>{{ candidate.linkedinProfileURL }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>